.content {
	display: none;
	position: relative;
	min-height: 800px;
	height: 100%;
}

.button-menu, .button-logout {
	display: inline-block;
	text-align: center;
	font: 16px 'Oswald', sans-serif;
	background-color: #244f9a;
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	padding: 10px 30px;
}

.button-logout {
	position: absolute;
	width: 100px;
	margin-right: 0;
	right: 30px;
}

.button-menu {
	margin: 10px auto;
	width: 180px;
}

/*?*/
.parking {
	display: inline-block;
	margin-left: 45px;
	cursor: pointer;
}

.parking p {
	text-align: center;
	text-shadow: 2px 2px #cccccc;
	font: 24px 'Times New Roman', serif;
}

.submit-ok {
	background-color: #57d77d;
	width: 120px;
	height: 20px;
	border: 0;
}

.submit-reg {
	background-color: #da6854;
	width: 120px; height : 20px;
	border: 0;
	height: 20px;
}