.b-popup{
	display: none;
  width:100%;
  min-height:100%;
  background-color: rgba(0,0,0,0.6);
  overflow:hidden;
  position:fixed;
  top:0px;
}
.b-popup .b-popup-content{
  position: relative;
  margin:40px auto 0px auto;
  width: 400px;
  padding:10px;
  background-color: #c5c5c5;
  border-radius:5px;
  box-shadow: 0px 0px 10px #000;
}

.cross {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 10px;
  top:10px;
  background-color: red;
  border-radius: 10px;
}

form h3 {
  text-align: center;
}

/*field set?
selectors?*/
form   { display: table;      }
form p { display: table-row;  }
label  { display: table-cell; }
input  { display: table-cell; }
