body {
	background-color: #e6f7ff;
	overflow-x: hidden;
	font-size: 18px;
}

.header {
	height: 200px;
	position: relative;
}

.login {
	position: relative;
	margin-bottom: 50px;
}

.login-p {
	display: inline-block;
	max-width: 500px;
	margin: 0 auto 0 50px;
	font-size: 24px;
}

.pagination-bar {
	position: absolute;
	bottom: 10px;
	left: 50px;
}

ul.pagination {
	display: inline-block;
	padding: 0;
	margin: 0;
}

.pagination-button {
	
}

ul.pagination li {
	display: inline;
}

ul.pagination li a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

ul.pagination li a.active {
	background-color: #244f9a;
	color: white;
}

ul.pagination li a:hover:not (.active ) {
	background-color: #00aaff;
}

#footer {
	position: relative;
	height: 110px;
	margin: auto;
	background-image: url("../img/footer.jpg");
	background-size: 100% 100%;
}

.header img, #footer img {
	width: 100%;
}
/*css-peproc for repeat
centered-blok*/
.centred {
	min-width: 800px;
	margin: auto;
	width: 800px;
}

.background-whiteplate {
	height: 1000px;
	width: 800px;
	background-color: rgba(255, 255, 255, 0.7);
	overflow: hidden;
	position: absolute;
	top: 110px;
	border-radius: 10px;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	filter: blur(2px);
}

.login-form {
	position: relative;
	margin: auto;
}

.content-block {
	width: 800px;
	height: 800px;
}

.background-blured-img {
	background-image: url("../img/back.jpg");
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	position: fixed;
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	filter: blur(2px);
}

.error {
	border: 2px solid red;
	background-color: #ffcc00;
	margin-left: 10px;
	padding: auto;
}

.deals-table {
	position: relative;
	margin: auto;
	border-radius: 10px;
}

.deals-table-delete {
	cursor: pointer;
}

.deals-table tr {
	margin-bottom: 50px;
	background-color: #c0c0c0;
	
}